@{
    ViewBag.Title = "Home Page";
}

<div class="col">
    <div class="col-md-2">
        <div class="">
            <h2>Профил</h2>
            <p>
                Тук ще поставим профил на този, който се е логнал, ако не се е логнал, може да оставим форма за логване.
            </p>
        </div>
    </div>
    <article class="col-md-8">
        <h2 class="title">Постове за потребители</h2>
        <div class="title">
            <p>Публикувано от Деян Велев</p>
        </div>
        <div>
            Тяло на публикацията...
            <p>Malko text dyra dura.</p>
        </div>
    </article>
    <div class="col-md-2">
        <h2>Реклама</h2>
        <p>Тук може да сложим рекламки или снимки или потребители, каквото си пожелаем.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>