@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-2">
        <h2>Профил</h2>
        <p>
            Тук ще поставим профил на този, който се е логнал, ако не се е логнал, може да оставим форма за логване.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-8">
        <h2>Начална страница</h2>
        <p>Тук ще се поставят всички публикации на потребителите.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <h2>Реклама</h2>
        <p>Тук може да сложим рекламки или снимки или потребители, каквото си пожелаем.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>