@{
    ViewBag.Title = "Home Page";
}

<div class="col">
    <div class="col-md-2">
        <div class="">
            <h2>Профил</h2>
            <p>
                Тук ще поставим профил на този, който се е логнал, ако не се е логнал, може да оставим форма за логване.
            </p>
        </div>
    </div>
    <article class="col-md-8">
        <h2 class="title">Постове за потребители</h2>
        <div class="title">
            <p>Публикувано от Деян Велев</p>
        </div>
        <div>
            Тяло на публикацията...
            <p>Malko text dyra dura.</p>
            <!-- LikeBtn.com BEGIN -->
            <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.google.bg%2Fwebhp%3Fsourceid%3Dchrome-instant%26ion%3D1%26espv%3D2%26ie%3DUTF-8%23q%3Dlike%2Bbutton%2Bhtml&width=450&layout=standard&action=like&size=large&show_faces=false&share=false&height=35&appId" width="450" height="35" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            <!-- LikeBtn.com END -->
        </div>
        
    </article>

    <article class="col-md-8">
        <h2 class="title">Постове за потребители</h2>
        <div class="title">
            <p>Публикувано от Деян Велев</p>
        </div>
        <div>
            Тяло на публикацията...
            <p>Malko text dyra dura.</p>
            <!-- LikeBtn.com BEGIN -->
            <iframe src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.coffeecup.com%2Fhelp%2Farticles%2Fadding-a-facebook-like-button-to-your-page%2F&width=450&layout=standard&action=like&size=large&show_faces=false&share=false&height=35&appId" width="450" height="35" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            <!-- LikeBtn.com END -->
        </div>
    </article>


    <div class="col-md-2">
        <h2>Реклама</h2>
        <p>Тук може да сложим рекламки или снимки или потребители, каквото си пожелаем.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>