@{
    ViewBag.Title = "Потвърждаване на забравена парола";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Моля проверете вашият имейл, за да възстановите паролата си!
    </p>
</div>
	
